<!-- BEGIN TEMPLATE RESET-PASSWORD -->
<div class="modal-header">
    <div class="modal-title"> {[{ 'user.change_password' | i18next }]}</div>
</div>
<div class="modal-body">
    <form id="passwordForm" role="form" class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="col-md-3 control-label" for="old_password">
                {[{ 'user.old_password' | i18next }]}
            </label>
            <div class="col-md-5">
                <input id="old_password" name="old_password"
                       type="password" maxlength="50"
                       data-ng-model="params.old_password"
                       class="form-control input-medium"
                       data-rule-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="new_password">
                {[{ 'user.new_password' | i18next }]}
            </label>
            <div class="col-md-5">
                <input id="new_password" name="new_password"
                       type="password" maxlength="50"
                       data-ng-model="params.new_password"
                       class="form-control input-medium"
                       data-rule-minlength="8"
                       data-rule-complexPassword="true"
                       data-msg="{[{ 'user.invalid_password_tip' | i18next }]}">
                <span class="help-block"> {[{ 'user.password_help' | i18next }]} </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="confirm_password">
                {[{ 'user.confirm_password' | i18next }]}
            </label>
            <div class="col-md-5">
                <input id="confirm_password" name="confirm_password"
                       type="password" maxlength="50"
                       data-ng-model="params.confirm_password"
                       class="form-control input-medium"
                       data-rule-equalTo="#new_password"
                       data-msg="{[{ 'user.same_password_tip' | i18next }]}">
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>
<div class="modal-footer">
    <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
        {[{ 'cancel' | i18next }]}
    </a>
    <a class="btn btn-primary" data-ng-click="changePassword(user)">
        {[{ 'submit' | i18next }]}
    </a>
</div>
<!-- END TEMPLATE RESET-PASSWORD -->
