*.DS_Store
*.log
*.pyc
*.pyo
*.sqlite?
*.sw?
.venv
*/.venv/*
*.pyc
*.pid
*.sock
*.orig
*.lock
build
dist
ChangeLog
tags
pep8.txt
pylint.txt
reports
.idea
*.iml
dev_settings.py
db.sqlite3
*.log
*.json
*.vim
test_email.py
*_ldap.py
venv
.ropeproject
local_settings.py
