<!-- BEGIN PAGE HEADER-->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT ng-controller="ImageController"-->
<div>
    <div class="col-md-12">
        <div class="note note-success ng-scope">
            <p>
                {[{ 'floatingIP.page_desc' | i18next }]}
            </p>
        </div>
        <!-- BEGIN INSTANCE  -->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <a class="btn btn-icon-only btn-default" href="#" ng-click="floating_table.reload();">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="btn btn-primary" href="#" ng-click="modal_create_floating()"
                       role="button">
                        <i class="fa fa-plus"></i>
                        {[{ 'floatingIP.allocate' | i18next }]}
                    </a>
                    <!--a class="btn btn-danger" ng-click="action('release')"
                       ng-class="{'disabled-link disabled ': checked_count <= 0}">
                        <i class="fa fa-trash"></i>
                        {[{ 'floatingIP.release' | i18next }]}
                    </a-->
                </div>
            </div>
            <div class="portlet-body">
                <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                    <table ng-table="floating_table"
                           class="table table-striped table-bordered table-advance table-hover">
                        <tbody>
                        <tr ng-repeat="floating in $data">
                            <td data-title="'floatingIP.ipAddress' | i18next">{[{ floating.ip}]}</td>
                            <td data-title="'floatingIP.bandwidth' | i18next">{[{ floating.bandwidth}]} Mpbs</td>
                            <td data-title="'floatingIP.status' | i18next">
                                <span class="" data-ng-if="floating.isStable">{[{ floating.status_text }]} </span>

                                <div data-ng-if="floating.isUnstable"
                                     class="progress progress-striped active"
                                     style="width:140px; margin-bottom:0px;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="">{[{ floating.status_text }]} </span>
                                    </div>
                                </div>
                            </td>
                            <td data-title="'floatingIP.related_resources' | i18next">
                                <a class="btn default blue-stripe btn-xs"  ng-href="#/instance/" ng-if="floating.resource && floating.resource_type =='INSTANCE'">
                                    <i class="fa fa-desktop"></i> {[{ floating.resource_info.name}]} </a>
                                <a class="btn default blue-stripe btn-xs"  ng-href="#/lbaas/" ng-if="floating.resource && floating.resource_type =='LOADBALANCER'">
                                    <i class="fa fa-sitemap"></i> {[{ floating.resource_info.name}]} </a>
                            </td>
                            <td width="180" data-title="'floatingIP.action'|i18next">
                                <div class="btn-group">
                                    <button class="btn btn-default"
                                            type="button" ng-click="floating_action(floating, 'release')">
                                        <i class="fa fa-trash"></i>
                                        {[{ 'floatingIP.release' | i18next }]}
                                    </button>
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"
                                            aria-expanded="false"><i class="fa fa-angle-down"></i></button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li ng-if="floating.status == 10">
                                            <a href="#" ng-click="modal_binding_instance(floating)"
                                               role="button">
                                                <i class="fa fa-cloud-upload"></i>
                                                {[{ 'floatingIP.binding_resource' | i18next }]}
                                            </a>
                                        </li>
                                        <li ng-if="floating.status == 20">
                                            <a href="#" ng-click="floating_action(floating, 'disassociate')">
                                                <i class="fa fa-cloud-download"></i>
                                                {[{ 'floatingIP.unbinding_instance' | i18next }]}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- END INSTANCE  -->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script type="text/ng-template" id="addFloating.html">
    <div class="modal-header ">
        <a class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"> </a>
        <h4 class="modal-title">{[{ 'floatingIP.allocate' | i18next }]}</h4>
    </div>
    <div class="found-terrace1">
        <div class="modal-body">
            <form id="inputForm" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group" ng-class="{'has-error': has_error}">
                        <label class="col-md-3 control-label">{[{ 'floatingIP.bandwidth' | i18next }]}
                            <span class="required" aria-required="true"> *</span>
                        </label>

                        <div class="col-md-7">
                            <floatslider data="floatingIP"></floatslider>
                        </div>
                    </div>
                    <div class="form-group" data-ng-if="quota.floating_ip > 0">
                        <label class="col-md-3 control-label">{[{ 'constant.quota' | i18next }]}</label>
                        <div class="col-md-7">
                            <div class="progress" style="margin-bottom: 0px;margin-top: 8px;">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     ng-style="{'width': usageRatio}"
                                     ng-class="{'progress-bar-danger': isQuotaExhausted}">
                                    <span>{[{ quota.floating_ip_used }]} / {[{ quota.floating_ip }]}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" ng-click="cancel()">{[{ 'floatingIP.cancel' | i18next }]}</a>
            <a class="btn btn-primary"
               ng-click="create(floatingIP)"
               ng-class="{'disabled': isQuotaExhausted}"
               data-nap-after-click>{[{'floatingIP.ensure' | i18next }]}</a>
        </div>
    </div>
</script>

<!--滑动条-->
<script type="text/ng-template" id="slider.html">
    <div id="slider-range-max"
         class="slider bg-purple ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
         aria-disabled="false">
    </div>
    <div class="slider-value">
        <span id="slider-range-max-amount">{[{ data.size }]}</span>Mbps
    </div>
</script>
<script type="text/ng-template" id="associate.html">
    <!-- 绑定云主机弹出框 -->
    <div class="modal-header ">
        <a class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelBinding()"></a>
        <h4 class="modal-title">{[{ 'floatingIP.binding_resource' | i18next }]}</h4>
    </div>
    <div class="found-terrace1">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">{[{ 'floatingIP.ipAddress' | i18next }]}</label>

                    <div class="col-md-1 control-label">{[{ floating.ip }]}</div>
                </div>
                <div class="form-group" ng-class="{'has-error': has_error}">
                    <label class="col-md-3 control-label">{[{ 'floatingIP.resource_list' | i18next }]}</label>

                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-desktop"></i>
                            </span>
                            <select class="form-control" ng-options="ins.name  for ins in instances track by ins.id"
                                    ng-model="selected_instance">
                                <option value="-1" selected>-----</option>
                            </select>
                        </div>
                        <span class="help-block"
                              ng-if="has_error">{[{ 'floatingIP.select_resource_first' | i18next }]}</span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancelBinding()">{[{ 'floatingIP.cancel' | i18next }]}</a>
        <a class="btn btn-primary" ng-click="associate()">{[{ 'floatingIP.ensure' | i18next }]}</a>
    </div>
</script>


<script type="text/ng-template" id="changeBandwidth.html">
    <div class="modal-header ">
        <a class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></a>
        <h4 class="modal-title">{[{ 'floatingIP.change_bandwidth' | i18next }]}</h4>
    </div>
    <div class="found-terrace1">
        <div class="modal-body">
            <form id="updateNetworkForm" class="form-horizontal">
                <input type="hidden" name="networkId" id="updateNetworkId">

                <div class="form-group">
                    <label class="col-md-3 control-label">{[{ 'floatingIP.bandwidth' | i18next }]}</label>

                    <div class="col-md-5">
                        <floatslider data="floatingIP"></floatslider>
                    </div>
                </div>
            </form>
            <div style='text-align:right'><font>{[{ 'floatingIP.price' | i18next }]}：￥0.005</font><span
                    id="hourNetworkUpdate"></span><font>{[{ 'floatingIP.perHour' | i18next }]}</font></div>
            <div class="clear"></div>
        </div>
        <div class="modal-footer">
            <a class="btn" ng-click="cancel()">{[{ 'floatingIP.cancel' | i18next }]}</a>
            <a class="btn btn-primary" ng-click="create()">{[{ 'floatingIP.ensure' | i18next }]}</a>
        </div>
    </div>
</script>
<!-- BEGIN MAIN JS & CSS -->
