<div class="portlet">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Sample text with lead body</h3>
                <p class="lead">
                     Lead body. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                </p>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.
                </p>
            </div>

        </div>
    </div>
</div>