<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet solid">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bar-chart-o"></i>CPU
							</div>
							<div class="actions">
								<div data-toggle="buttons" class="btn-group">
									<label class="btn grey-steel btn-sm active">
									<input type="radio" id="option1" class="toggle" name="options">New</label>
									<label class="btn grey-steel btn-sm">
									<input type="radio" id="option2" class="toggle" name="options">Returning</label>
								</div>
							</div>
						</div>
						<div class="portlet-body">

							<iframe frameBorder="0" src="http://14.14.14.101:5601/#/visualize/edit/cpu?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'resource_id:!'06e5fd14-8270-45d3-8bc9-d7767ab31233!'')),vis:(aggs:!((id:'1',params:(field:cpu_util),schema:metric,type:avg),(id:'2',params:(extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,shareYAxis:!t),type:line))" height="600" width="800"></iframe>
							<iframe frameBorder="0" rc="http://14.14.14.101:5601/#/visualize/edit/cpu?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'resource_id:!'06e5fd14-8270-45d3-8bc9-d7767ab31233!'')),vis:(aggs:!((id:'1',params:(field:cpu_util),schema:metric,type:avg),(id:'2',params:(extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!f,addTooltip:!f,defaultYExtents:!f,shareYAxis:!t),type:line))" height="600" width="800"></iframe>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				</div>
				<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet solid">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bullhorn"></i>Network
							</div>
							<div class="actions">
								<div class="btn-group pull-right">
									<a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="btn grey-steel btn-sm dropdown-toggle" href="">
									Filter <span class="fa fa-angle-down">
									</span>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="javascript:;">
											Q1 2014 <span class="label label-sm label-default">
											past </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
											Q2 2014 <span class="label label-sm label-default">
											past </span>
											</a>
										</li>
										<li class="active">
											<a href="javascript:;">
											Q3 2014 <span class="label label-sm label-success">
											current </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
											Q4 2014 <span class="label label-sm label-warning">
											upcoming </span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="portlet-body">

							<div style="margin: 20px 0 10px 30px">
								<div class="row">

									<img src="http://14.14.14.101:5601/#/visualize/edit/cpu?_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'resource_id:!'06e5fd14-8270-45d3-8bc9-d7767ab31233!'')),vis:(aggs:!((id:'1',params:(field:cpu_util),schema:metric,type:avg),(id:'2',params:(extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,shareYAxis:!t),type:line))"/>
								</div>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
			</div>