<div class="portlet">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <h3 class="form-section">Person Info</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">First Name:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     {[{ instance.name }]}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Last Name:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     {[{ instance.private_ip }]}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Gender:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     Male
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date of Birth:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     20.01.1984
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Category:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     Category1
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Membership:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     Free
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <h3 class="form-section">Address</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Address:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     #24 Sun Park Avenue, Rolton Str
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">City:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     New York
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">State:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     New York
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Post Code:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     457890
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Country:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                     USA
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
