<!-- BEGIN PAGE HEADER-->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT ng-controller="InstanceController"-->
<div>
    <div class="col-md-12">
        <div class="note note-success ng-scope">
            <p>
                负载均衡器（Load Balancer） 可以将来自多个公网地址的访问流量分发到多台主机上，并支持自动检测并隔离不可用的主机，从而提高业务的服务能力和可用性。
                同时，你还可以随时通过添加或删减主机来调整你的服务能力，而且这些操作不会影响业务的正常访问。另外，负载均衡器还支持灵活配置多种转发策略，
                实现高级的自定义转发控制功能；支持 HTTP/HTTPS/TCP 三种监听模式，并支持透明代理，可以让后端主机不做任何更改，直接获取客户端真实 IP。
            </p>
        </div>
        <!-- BEGIN INSTANCE  -->
        <ul class="nav nav-tabs tables">

            <li class="" ng-class="{active:pools_tab}">
                <a href="javascript:void(0);" ng-click="tab_select('pools');" ><!--<i class="fa fa-flask"></i>--> {[{ 'balancer.balancer' | i18next }]} </a>
            </li>

            <li class="" ng-class="{active:monitor_tab}">
                <a href="javascript:void(0);" ng-click="tab_select('monitor');" ><!--<i class="fa fa-search"></i>-->{[{ 'balancer.monitor' | i18next }]}</a>
            </li>

        </ul>
        <div class="tab-content">
                <div class="tab-pane fade " ng-class="{active:pools_tab,in:pools_tab}" id="pools">
                    <div class="alertContainer clearfix">
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span class="msgContainer">{[{ 'balancer.vip_tip' | i18next }]}</span>
                        </div>
                    </div>
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp">
                                <a class="btn btn-icon-only btn-default" href="#" ng-click="loadbalancer_table.reload();">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="javascript:void(0);" id="loadBalance-fa-plus" ng-click="modal_create_loadbalancer()" class="btn btn-primary"><i class="fa fa-plus"></i>{[{ 'balancer.create_balancer_title' | i18next }]}</a>
                                <a class="btn btn-danger" ng-click="delete_balancer_action()" ng-class="{'disabled-link disabled ': checked_count <= 0}">
                                    <i class="fa fa-trash"></i>
                                    {[{ 'balancer.delete' | i18next }]}
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div  class="dataTables_wrapper no-footer">
                                <table ng-table="loadbalancer_table"
                                   class="table table-striped table-bordered table-advance table-hover">
                                <tbody>
                                    <tr ng-repeat="balancer in $data " >
                                        <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'" >
                                            <input type="checkbox" ng-class="{'disabled': status_desc[balancer.status][1] == 0}" ng-model="checkboxes.items[balancer.id]"/>
                                        </td>
                                        <td data-title="'balancer.balancer_name' | i18next">
                                            <a href="#/lbaas/{[{balancer.id}]}">{[{ balancer.name }]}</a></td>
                                        <td data-title="'balancer.description' | i18next">{[{ balancer.description }]}</td>
                                        <td data-title="'balancer.vip_address' | i18next">
                                            {[{ balancer.vip_info.address }]}
                                        </td>
                                        <td data-title="'balancer.public_ip' | i18next">
                                            {[{ balancer.vip_info.public_address }]}
                                        </td>
                                        <td data-title="'balancer.port' | i18next">{[{ balancer.vip_info.protocol_port }]}
                                        </td>
                                        <td data-title="'balancer.subnet' | i18next">{[{ balancer.subnet_info.address }]}
                                        </td>
                                        <td data-title="'balancer.protocol' | i18next">{[{ balancer.protocol_desc }]}
                                        </td>
                                        <td data-title="'balancer.status' | i18next">
                                            <span class="" ng-if="status_desc[balancer.status][1] == 1">{[{ status_desc[balancer.status][0] }]} </span>
                                            <div ng-if="status_desc[balancer.status][1] == 0"
                                                 class="progress progress-striped active"
                                                 style="width:140px; margin-bottom:0px;">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="">{[{ status_desc[balancer.status][0] }]} </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-title="'balancer.operation' | i18next">
                                            <div class="btn-group">
                                                <button class="btn btn-default"
                                                        type="button" ng-click="modal_edit_loadbalancer(balancer)">
                                                    <i class="fa fa-edit"></i>
                                                    {[{ 'edit' | i18next }]}
                                                </button>
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"
                                                        aria-expanded="false"><i class="fa fa-angle-down"></i></button>
                                                <ul role="menu" class="dropdown-menu">

                                                    <li ng-class="{'disabled-link':status_desc[balancer.status][1] == 0}" >
                                                        <a ng-class="{'disabled':status_desc[balancer.status][1] == 0}"
                                                           href="#/lbaas/{[{balancer.id}]}"  role="button">
                                                            {[{ 'balancer.add_member' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link': ((balancer.vip) || status_desc[balancer.status][1] == 0) || balancer.status != 1}" >
                                                        <a ng-class="{'disabled': ((balancer.vip) || status_desc[balancer.status][1] == 0) || balancer.status != 1}"
                                                           href="javascript:void(0);" ng-click="modal_create_vip(balancer)" role="button">
                                                            {[{ 'balancer.create_vip_title' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link': !balancer.vip  || status_desc[balancer.status][1] == 0}" >
                                                        <a ng-class="{'disabled': !balancer.vip || status_desc[balancer.status][1] == 0}"
                                                           href="javascript:void(0);" ng-click="modal_edit_vip(balancer)" role="button">
                                                            {[{ 'balancer.update_vip' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link': !balancer.vip  || status_desc[balancer.status][1] == 0}" >
                                                        <a ng-class="{'disabled': !balancer.vip  || status_desc[balancer.status][1] == 0}"
                                                           href="javascript:void(0);" ng-click="delete_vip_action(balancer)" role="button">
                                                            {[{ 'balancer.delete_vip' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link': status_desc[balancer.status][1] == 0 || (!balancer.vip) || (balancer.vip_info.public_address ) }" >
                                                        <a ng-class="{'disabled': status_desc[balancer.status][1] == 0 || (!balancer.vip) || (balancer.vip_info.public_address )}"
                                                           href="javascript:void(0);" ng-click="public_ip_action(balancer,'associate')" role="button">
                                                            {[{ 'balancer.bind_public' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link': (!balancer.vip || status_desc[balancer.status][1] == 0) || !balancer.vip_info.public_address  }" >
                                                        <a ng-class="{'disabled': (!balancer.vip || status_desc[balancer.status][1] == 0) || !balancer.vip_info.public_address}"
                                                           href="javascript:void(0);" ng-click="public_ip_action(balancer,'disassociate')" role="button">
                                                            {[{ 'balancer.unbind_public' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link':status_desc[balancer.status][1] == 0 || balancer.status != 1}">
                                                        <a ng-class="{'disabled-link':status_desc[balancer.status][1] == 0 || balancer.status != 1}" href="javascript:void(0);" ng-click="pool_monitor_assocation(balancer,'attach')" role="button">
                                                            {[{ 'balancer.attach_monitor' | i18next }]}
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'disabled-link':status_desc[balancer.status][1] == 0 || balancer.status != 1}">
                                                        <a ng-class="{'disabled-link':status_desc[balancer.status][1] == 0 || balancer.status != 1}" href="javascript:void(0);" ng-click="pool_monitor_assocation(balancer,'detach')" role="button">
                                                            {[{ 'balancer.detach_monitor' | i18next }]}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{active:monitor_tab, in:monitor_tab}" id="monitor">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp">
                                <a class="btn btn-icon-only btn-default" href="#" ng-click="monitor_table.reload();">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="javascript:void(0);" id="loadBalance-fa-plus" ng-click="modal_create_monitor()" class="btn btn-primary"><i class="fa fa-plus"></i>{[{ 'balancer.create_monitor_title' | i18next }]}</a>
                                <a class="btn btn-danger" title="" ng-click="delete_monitor_action()" ng-class="{'disabled-link disabled ': checked_monitor_count <= 0}">
                                    <i class="fa fa-trash"></i>
                                    {[{ 'balancer.delete' | i18next }]}
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div  class="dataTables_wrapper no-footer">
                                <table ng-table="monitor_table"
                                       class="table table-striped table-bordered table-advance table-hover">
                                    <tbody>
                                        <tr ng-repeat="monitor in $data " >
                                            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox2.html'" >
                                                <input type="checkbox" ng-class="{'disabled': status_desc[balancer.status][1] == 0}" ng-model="checkboxes_monitor.items[monitor.id]"/>
                                            </td>
                                            <td data-title="'balancer.monitor_name' | i18next">{[{ monitor.name }]}</td>
                                            <td data-title="'balancer.monitor_type' | i18next">{[{ monitor.monitor_type_desc }]}</td>
                                            <td data-title="'balancer.balancer' | i18next">{[{ monitor.balancer_desc }]}</td>
                                            <td data-title="'balancer.delay' | i18next">{[{ monitor.delay }]}
                                            </td>
                                            <td data-title="'balancer.timeout' | i18next">{[{ monitor.timeout }]}
                                            </td>
                                            <td data-title="'balancer.max_try_count' | i18next">{[{ monitor.max_retries }]}
                                            </td>
                                            <td data-title="'balancer.operation' | i18next">
                                                <div class="btn-group">
                                                    <button class="btn btn-default"
                                                            type="button" ng-click="modal_edit_monitor(monitor)">
                                                        <i class="fa fa-edit"></i>
                                                        {[{ 'edit' | i18next }]}
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- END INSTANCE  -->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!-- BEGIN MAIN JS & CSS -->
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/>
</script>

<script type="text/ng-template" id="ng-table/headers/checkbox2.html">
    <input type="checkbox" ng-model="checkboxes_monitor.checked" id="select_all_monitor" name="filter-checkbox-monitor" value=""/>
</script>


<!--创建负载均衡资源 -->
<script type="text/ng-template" id="create_balancer.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title">{[{ 'balancer.create_balancer_title' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_balancer_form" class="form-horizontal form-bordered">
            <div class="form-group" >
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.balancer_name' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" name="name" ng-model="balancer.name"
                               class="form-control  required">

                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.description' | i18next }]}
                </label>
                <div class="col-md-8">
                    <textarea class="form-control" ng-model="balancer.description" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.subnet' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control required"  name="subnet" ng-model="balancer.subnet" >
                            <option value="" selected>{[{'balancer.select' | i18next }]}</option>
                            <option ng-repeat="subnet in subnets"  value="{[{subnet.id}]}">{[{subnet.network_info.name}]}({[{subnet.address}]})</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.protocol' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control required"  name="protocol" ng-model="balancer.protocol" >
                            <option value="" selected>{[{'balancer.select' | i18next }]}</option>
                            <option ng-repeat="po in constant.protocol" value="{[{po[0]}]}">{[{po[1]}]}</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.lb_method' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control required"  name="lb_method" ng-model="balancer.lb_method" >
                            <option value="" selected>{[{'balancer.select' | i18next }]}</option>
                            <option ng-repeat="lb in constant.lb_method" value="{[{lb[0]}]}">{[{lb[1]}]}</option>
                        </select>

                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_balancer_click(balancer)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>
<!--修改负载均衡资源 -->
<script type="text/ng-template" id="update_balancer.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title">{[{ 'balancer.update_balancer_title' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_balancer_form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.balancer_name' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" name="name" ng-model="balancer.name"
                               class="form-control  required">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.description' | i18next }]}
                </label>
                <div class="col-md-8">
                    <textarea class="form-control" ng-model="balancer.description" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.lb_method' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control required"  name="lb_method" ng-model="balancer.lb_method" >
                            <option value="" selected>{[{'balancer.select' | i18next }]}</option>
                            <option ng-repeat="lb in constant.lb_method" ng-selected="balancer.lb_method == lb[0]" value="{[{lb[0]}]}">{[{lb[1]}]}</option>
                        </select>

                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_balancer_click(balancer)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>
<!--创建负载监听器 -->
<script type="text/ng-template" id="create_monitor.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title">{[{ 'balancer.create_monitor_title' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_monitor_form" name="create_monitor_form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.monitor_name' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="120" name="name" ng-model="monitor.name"
                               class="form-control  required">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.monitor_type' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control" name="type" required  ng-model="monitor.type" >
                            <option value="" selected>{[{'balancer.select' | i18next }]}</option>
                            <option ng-repeat="mon in constant.monitor_type" value="{[{mon[0]}]}">{[{mon[1]}]}</option>
                        </select>

                    </div>

                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.delay' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="number"   maxlength="20" name="delay" required ng-model="monitor.delay"
                               class="form-control  required">
                    </div>

                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':timeout_error}">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.timeout' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group" >
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="number" max="#delay" maxlength="20" name="timeout" required ng-model="monitor.timeout"
                               class="form-control  required">
                    </div>
                    <div class="help-block help-block-error" ng-if="timeout_error">{[{'balancer.delay_lg_timeout' | i18next }]}</div>
                </div>
            </div>
            <div class="form-group"  >
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.max_try_count' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="number" min="1" max="10"  maxlength="2" name="max_retries" required ng-model="monitor.max_retries"
                               class="form-control  required">
                    </div>

                </div>
            </div>
            <div class="form-group" ng-if="monitor.monitor_type =='2' || monitor.monitor_type =='3'" >
                <label class="col-md-3 control-label" for="title">
                    URL<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"   maxlength="2" name="url_path" required ng-model="monitor.url_path"
                               class="form-control  required">
                    </div>

                </div>
            </div>
            <div class="form-group" ng-if="monitor.monitor_type =='2' || monitor.monitor_type =='3'" >
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.HTTP_STATUS_CODE' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="number"    name="expected_codes" required ng-model="monitor.expected_codes"
                               class="form-control  required">
                    </div>

                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_click(monitor)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>
<!--修改负载监听器 -->
<script type="text/ng-template" id="update_monitor.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title">{[{ 'balancer.update_monitor_title' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_monitor_form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.monitor_name' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="120" name="name" ng-model="monitor.name"
                               class="form-control  required">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.delay' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="number"  maxlength="20" name="delay" ng-model="monitor.delay"
                               class="form-control  required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.timeout' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" name="timeout" ng-model="monitor.timeout"
                               class="form-control number required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.max_try_count' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="number" min="1" max="10" maxlength="20" name="max_retries" ng-model="monitor.max_retries"
                               class="form-control  required">
                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_click(monitor)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>

<!--关联-解除关联监听器 -->
<script type="text/ng-template" id="attach_monitor.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title" ng-if="action == 'attach'">{[{ 'balancer.attach_monitor' | i18next }]}</h4>
        <h4 class="modal-title" ng-if="action == 'detach'">{[{ 'balancer.detach_monitor' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_monitor_form" class="form-horizontal form-bordered">
            <div class="form-group" ng-class="{'has-error':has_error && monitor == undefined}">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.monitor' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control"  name="monitor" ng-model="monitor" >
                            <option ng-repeat="mo in monitors" value="{[{ mo.id }]}">{[{mo.monitor_type_desc}]} delay:{[{mo.delay}]} timeout: {[{mo.timeout}]} max_retries:{[{mo.max_retries}]}</option>
                        </select>
                    </div>
                    <span ng-if="has_error && monitor == undefined" id="name-error" class="help-block help-block-error">
                               {[{ 'balancer.select_monitor' | i18next }]}
                            </span>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_attach_monitor_click(monitor)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>
<!--绑定-解除公网ip -->
<script type="text/ng-template" id="attach_floatIp.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title" ng-if="action == 'attach'">{[{ 'balancer.bind_public' | i18next }]}</h4>
        <h4 class="modal-title" ng-if="action == 'detach'">{[{ 'balancer.unbind_public' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_monitor_form" class="form-horizontal form-bordered">
            <div class="form-group" ng-class="{'has-error':has_error && floatIp == undefined}">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.public_ip' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control"  name="monitor" ng-model="floatIp" >
                            <option ng-repeat="fp in floating_ips" value="{[{ fp.id }]}">{[{fp.ip}]}</option>
                        </select>
                    </div>
                    <span ng-if="has_error && floatIp == undefined" id="name-error" class="help-block help-block-error">
                               {[{ 'balancer.select_public_ip' | i18next }]}
                            </span>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_attach_floatIp_click(floatIp)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>

<!--创建VIP -->
<script type="text/ng-template" id="create_vip.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title">{[{ 'balancer.create_vip_title' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_vip_form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.vip_name' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" name="name" ng-model="vip.name"
                               class="form-control  required">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.description' | i18next }]}
                </label>
                <div class="col-md-8">
                    <textarea class="form-control" ng-model="vip.description" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.protocol_port' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" min="0" max="65535" name="protocol_port" ng-model="vip.protocol_port"
                               class="form-control number required">
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.protocol' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control required"  name="protocol" ng-model="vip.protocol" >
                            <option value="" selected>{[{'balancer.select' | i18next }]}</option>
                            <option ng-repeat="po in constant.protocol" value="{[{po[0]}]}">{[{po[1]}]}</option>
                        </select>

                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.session_persistence' | i18next }]}
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control"  name="session_persistence" ng-model="vip.session_persistence" >
                            <option value="" selected>{[{'balancer.no_have' | i18next }]}</option>
                            <option ng-repeat="sp in constant.session_per" value="{[{sp[0]}]}">{[{sp[1]}]}</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.connection_limit' | i18next }]}
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" name="connection_limit" ng-model="vip.connection_limit"
                               class="form-control number ">
                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_vip_click(vip)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>
<!--更新VIP -->
<script type="text/ng-template" id="update_vip.html">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()"></button>
        <h4 class="modal-title">{[{ 'balancer.update_vip_title' | i18next }]}</h4>
    </div>
    <div class="modal-body">
        <form role="form" id="create_vip_form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.vip_name' | i18next }]}<span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <input type="text"  maxlength="20" name="name" ng-model="vip.name"
                               class="form-control  required">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.description' | i18next }]}
                </label>
                <div class="col-md-8">
                    <textarea class="form-control" ng-model="vip.description" rows="3"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{'balancer.session_persistence' | i18next }]}
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-openid"></i>
                        </span>
                        <select class="form-control"  name="session_persistence" ng-model="vip.session_persistence" >
                            <option value="-1" ng-selected="vip.session_persistence == '-1'">{[{'balancer.no_have' | i18next }]}</option>

                            <option ng-repeat="sp in constant.session_per" ng-selected="vip.session_persistence == sp[0]" value="{[{sp[0]}]}">{[{sp[1]}]}</option>
                        </select>

                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button href="javascript:;" class="btn" ng-click="cancel()">
            {[{ 'cancel' | i18next }]} </button>
        <button class="btn btn-primary"  ng-click="submit_vip_click(vip)">{[{ 'confirm' | i18next }]}</button>
    </div>
</script>