<div class="modal-header">
    <div id="updateTitle" class="modal-title"> {[{ 'router.create_router_title' | i18next }]}</div>
</div>
<div class="modal-body">
    <form id="routerfrom" role="form" class="form-horizontal form-bordered">
        <input type="hidden" name="id"/>
        <!-- <div class="me">总价格:¥0.05每小时 × 1 =  ¥0.05每小时 (合¥36.00每月)</div> -->
        <div class="form-group">
            <input type="hidden"  maxlength="20" name="id" ng-model="router_create.id">
            <label class="col-md-3 control-label" for="title">名称</label>

            <div class="col-md-8">
                <input type="text" style="width:300px" maxlength="20" name="name" ng-model="router_create.name"
                       class="form-control input-medium required">
            </div>
        </div>
        <div id="isAddNet" class="form-group">
            <label class="col-md-2 control-label" for="title"></label>

            <div class="col-md-8">
                <input name="isNetwork" type="checkbox" ng-model="router_create.isNetwork" ng-checked="router_create.isNetwork">是否加入公网
            </div>
        </div>
        <div class="clear"></div>
    </form>
    <div class="clear"></div>
    <!-- 这块只有在账户余额大于10元才不会显示 -->
</div>
<div class="modal-footer">
    <a class="btn btn-info btn-circle  " ng-click="submit_click(router_create)">确定</a>
    <a href="javascript:;" class="btn btn-danger button-cancel" ng-click="cancel()">
        {[{ 'cancel' | i18next }]} </a>
</div>