<div class="modal-header">
    <div id="updateTitle" class="modal-title"> {[{ 'contract.create_contract_title' | i18next }]}</div>
</div>
<div class="modal-body">
    <form id="contractFrom" role="form" class="form-horizontal form-bordered">
        <input type="hidden"  name="id" data-ng-model="contract.id">
        <div class="form-group">
            <div class="col-md-8">
                <label class="col-md-3 control-label" for="name">{[{ 'contract.name' | i18next }]} </label>
                <input id="name" name="name" type="text" style="width:300px" maxlength="20"  ng-model="contract.name"
                       class="form-control input-medium required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <label class="col-md-3 control-label" for="name">{[{ 'contract.customer' | i18next }]} </label>
                <input id="name" name="customer" type="text" style="width:300px" maxlength="20"  ng-model="contract.customer"
                       class="form-control input-medium required">
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>
<div class="modal-footer">
    <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
        {[{ 'cancel' | i18next }]}
    </a>
    <a class="btn btn-primary" data-ng-click="create(contract)"> {[{ 'submit' | i18next }]}</a>
</div>