<div>
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <a class="btn btn-icon-only btn-default" href="#" ng-click="contract_table.reload();">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="btn btn-primary" href="#" ng-click="create()" role="button">
                        <i class="fa fa-plus"></i>
                        {[{ 'contract.create' | i18next }]}
                    </a>
                    <a class="btn btn-danger" ng-click="batchDelete()"
                       ng-class="{disabled: checkboxGroup.noneChecked()}">
                        <i class="fa fa-trash"></i>
                        {[{ 'contract.batch_delete' | i18next }]}
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="" class="dataTables_wrapper no-footer">
                    <table ng-table="contract_table"
                           class="table table-striped table-bordered table-advance table-hover">
                        <tbody>
                            <tr data-ng-repeat="contract in $data">
                                <td width="30" style="text-align: left" header="'checkbox-header.html'">
                                    <input type="checkbox" data-ng-model="contract.checked"/>
                                </td>
                                <td data-title="'contract.name' | i18next">
                                    <span> {[{ contract.name }]} </span>
                                </td>
                                <td data-title="'contract.customer' | i18next">
                                    <span> {[{ contract.customer }]} </span>
                                </td>
                                <td data-title="'contract.user' | i18next">
                                    <span> {[{ contract.username }]} </span>
                                </td>
                                <td data-title="'udc.tenant' | i18next">
                                    <span> {[{ contract.tenant_name }]} </span>
                                </td>
                                <td data-title="'contract.date_range' | i18next">
                                    <span> {[{ contract.start_date }]} ~ {[{ contract.end_date }]} </span>
                                </td>
                                <td data-title="'actions' | i18next">
                                    <div class="btn-group">
                                        <button class="btn btn-default"
                                                type="button" ng-click="edit(contract)">
                                            <i class="fa fa-edit"></i>
                                            {[{ 'edit' | i18next }]}
                                        </button>
                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                                type="button" aria-expanded="false">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:void(0);"  ng-click="delete(contract)">
                                                    <i class="fa fa-trash"></i>
                                                    {[{ 'contract.delete' | i18next }]} </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);"  ng-click="manage_quota(contract)">
                                                    <i class="fa fa-cubes"></i>
                                                    {[{ 'contract.manage_quota' | i18next }]} </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN TEMPLATE CREATE-->
<script type="text/ng-template" id="create.html">
    <div class="modal-header">
       <div id="updateTitle" class="modal-title"> {[{ 'contract.create_contract_title' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="contractForm" role="form" class="form-horizontal form-bordered">
            <input type="hidden"  name="id" data-ng-model="contract.id">
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">
                    {[{ 'contract.name' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input id="name" name="name" data-ng-model="contract.name" maxlength="64"
                           class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="customer">
                    {[{ 'contract.customer' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input id="customer" name="customer" data-ng-model="contract.customer" maxlength="64"
                           class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user">
                    {[{ 'contract.user' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <select id="user" name="user" data-ng-model="contract.user"
                            class="form-control input-medium" data-ng-change="loadUdcList()"
                            data-ng-options="user.id as user.username for user in users">
                        <option value="">{[{ 'contract.select_user' | i18next }]}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="udc">
                    {[{ 'contract.user_data_center' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-4">
                    <select id="udc" name="udc" data-ng-model="contract.udc" class="form-control input-medium"
                            data-ng-options="udc.id as udc.tenant_name for udc in udcList">
                        <option value="">{[{ 'contract.select_udc' | i18next }]}</option>
                    </select>
                    <span class="help-block"> {[{ 'contract.help.user_data_center' | i18next }]} </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    {[{ 'contract.date_range' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                        <input id="start_date" name="start_date" type="text" class="form-control" readonly
                               data-ng-model="contract.start_date">
                        <span class="input-group-addon"> ~ </span>
                        <input type="text" id="end_date" name="end_date" class="form-control" readonly data-ng-model="contract.end_date">
                    </div>
                    <span class="help-block"> {[{ 'contract.help.date_range' | i18next }]} </span>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="submit(contract)"> {[{ 'submit' | i18next }]}</a>
    </div>
</script>
<!-- END TEMPLATE CREATE-->

<!-- BEGIN TEMPLATE UPDATE -->
<script type="text/ng-template" id="update.html">
    <div class="modal-header">
       <div id="updateTitle" class="modal-title"> {[{ 'contract.update_contract_title' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="contractForm" role="form" class="form-horizontal form-bordered">
            <input type="hidden"  name="id" data-ng-model="contract.id">
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">
                    {[{ 'contract.name' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input id="name" name="name"  data-ng-model="contract.name"  maxlength="64"
                           class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="customer">
                    {[{ 'contract.customer' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input id="customer" name="customer" maxlength="64"
                           data-ng-model="contract.customer" class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user">{[{ 'contract.user' | i18next }]} </label>
                <div class="col-md-5">
                    <span>{[{ user.username }]}</span>
                    <input type="hidden" name="user" ng-model="contract.user"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="udc">{[{ 'contract.user_data_center' | i18next }]} </label>
                <div class="col-md-5">
                    <span>{[{ udc.tenant_name }]}</span>
                    <input type="hidden" name="udc" ng-model="contract.udc"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    {[{ 'contract.date_range' | i18next }]}
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                        <input id="start_date" name="start_date" type="text" class="form-control" readonly
                               data-ng-model="contract.start_date">
                        <span class="input-group-addon"> ~ </span>
                        <input type="text" name="end_date" class="form-control"
                               readonly data-ng-model="contract.end_date">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="submit(contract)"> {[{ 'submit' | i18next }]}</a>
    </div>
</script>
<!-- END TEMPLATE UPDATE -->

<!-- BEGIN TEMPLATE CHECKBOX-HEADER -->
<script type="text/ng-template" id="checkbox-header.html">
    <input type="checkbox"  data-ng-model="checkboxGroup.checked" data-ng-change="checkboxGroup.toggleAll()"/>
</script>
<!-- END TEMPLATE CHECKBOX-HEADER -->


<!-- BEGIN TEMPLATE MANAGE-QUOTA -->
<script type="text/ng-template" id="manage-quota.html">
    <div class="modal-header">
       <div id="updateTitle" class="modal-title"> {[{ 'contract.manage_quota' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="quotaForm" role="form" class="form-horizontal form-bordered">
            <input type="hidden"  name="id" data-ng-model="contract.id">
            <div class="form-group" data-ng-repeat="quota in quotas">
                <label class="col-md-3 control-label" for="limit-{[{ $index }]}">{[{ quota.resource_label }]} </label>
                <div class="col-md-4">
                    <input type="hidden" name="id[]" ng-model="quota.id"/>
                    <input type="hidden" name="resource[]" ng-model="quota.resource"/>
                    <input id="limit-{[{ $index }]}" name="limit-{[{ $index }]}" type="text" maxlength="20"
                       data-ng-model="quota.limit" class="form-control input-small required digits"
                       style="display: inline-block;">
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="submit()"> {[{ 'submit' | i18next }]}</a>
    </div>
</script>
<!-- END TEMPLATE MANAGE-QUOTA -->

<!-- END TEMPLATE -->
