<div>
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <a class="btn btn-icon-only btn-default" href="#" ng-click="flavor_table.reload();">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="btn btn-primary" href="#" ng-click="create()" role="button">
                        <i class="fa fa-plus"></i>
                        {[{ 'action.create' | i18next }]}
                    </a>
                    <a class="btn btn-danger" ng-click="batchDelete()" ng-class="{disabled: checkboxGroup.noneChecked()}">
                        <i class="fa fa-trash"></i>
                        {[{ 'action.batch_delete' | i18next }]}
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="" class="dataTables_wrapper no-footer">
                    <table ng-table="flavor_table"
                           class="table table-striped table-bordered table-advance table-hover">
                        <tbody>
                            <tr ng-repeat="flavor in $data">
                                <td width="30" header="'checkbox-header.html'">
                                    <input type="checkbox" data-ng-model="flavor.checked"/>
                                </td>
                                <td data-title="'flavor.name' | i18next">
                                    <span> {[{ flavor.name }]} </span>
                                </td>
                                <td data-title="'flavor.cpu' | i18next">
                                    <span> {[{ flavor.cpu }]} </span>
                                </td>
                                <td data-title="'flavor.memory' | i18next">
                                    <span> {[{ flavor.memory }]} </span>
                                </td>
                                <td data-title="'flavor.price' | i18next">
                                    <span> {[{ flavor.price }]} </span>
                                </td>
                                <td data-title="'flavor.create_date' | i18next">
                                    <span> {[{ flavor.create_date }]} </span>
                                </td>
                                <td data-title="'actions' | i18next">
                                    <div class="btn-group">
                                        <button class="btn btn-default"
                                                type="button" ng-click="edit(flavor)">
                                            <i class="fa fa-edit"></i>
                                            {[{ 'action.edit' | i18next }]}
                                        </button>
                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                                type="button" aria-expanded="false">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:void(0);"  ng-click="delete(flavor)">
                                                    <i class="fa fa-trash"></i>
                                                    {[{ 'action.delete' | i18next }]} </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!-- BEGIN MAIN JS & CSS -->

<script type="text/ng-template" id="create.html">
    <div class="modal-header">
       <div id="updateTitle" class="modal-title"> {[{ 'flavor.title_create' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="flavorForm" role="form" class="form-horizontal form-bordered">
            <input type="hidden"  name="id" data-ng-model="flavor.id">
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">{[{ 'flavor.name' | i18next }]} </label>
                <div class="col-md-5">
                    <input id="name" name="name" type="text" maxlength="20"
                       data-ng-model="flavor.name" class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="cpu">{[{ 'flavor.cpu' | i18next }]} </label>
                <div class="col-md-5">
                    <input id="cpu" name="cpu" type="text" maxlength="20"
                           data-ng-model="flavor.cpu" class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="memory">{[{ 'flavor.memory' | i18next }]} </label>
                <div class="col-md-5">
                    <input id="host" name="memory" type="text" maxlength="20"
                           data-ng-model="flavor.memory" class="form-control input-medium required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="price">{[{ 'flavor.price' | i18next }]} </label>
                <div class="col-md-5">
                    <input id="price" name="price" type="text" maxlength="20"
                           data-ng-model="flavor.price" class="form-control input-medium required">
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="submit(flavor)"> {[{ 'submit' | i18next }]}</a>
    </div>
</script>

<script type="text/ng-template" id="checkbox-header.html">
    <input type="checkbox"  data-ng-model="checkboxGroup.checked" data-ng-change="checkboxGroup.toggleAll()"/>
</script>