<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORUM  -->
        <div class="table-container">
            <div class="portlet box ">
                <div class="portlet-body" style="background-color: #f8f8f8">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="portlet-body">
                                <div class="scroller" style="height:500px;">
                                    <ul class="nav nav-tabs tabs-left margin-top-10">
                                        <li ng-class="{'active':current_forum.id == forum.id}"
                                            ng-repeat="forum in forum_list">
                                            <a href="javascript:void(0);" ng-click="load_replies(forum)"
                                               id="forum_id_134"
                                               aria-expanded="true">
                                                <p class="pad_t10 font_16"
                                                   style="word-wrap: break-word; word-break: break-all;">
                                                    {[{ forum.title}]}</p>

                                                <p>{[{ 'forum.poster' | i18next }]}: {[{ forum.username}]}</p>
                                                <p>{[{ 'forum.submit_date' | i18next }]} {[{ forum.create_date}]}</p>

                                                <p class="pad_b10">
                                                    {[{ forum.content}]}
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="tab-content scroller" style="height:500px;">
                                <div id="ajax_forum_add" class="well"
                                     ng-if="current_forum !='' && current_forum !=undefined ">
                                    <div class="alert alert-info no-margin bg_4 margin-top-10 mar_l10 clear">
                                        <p class="font_16">{[{current_forum.title}]}</p>

                                        <div>
                                            <p class="hei_60 fl col-md-9" style="padding-left:0">
                                                {[{ 'forum.poster' | i18next }]}: {[{ current_forum.username}]}

                                                {[{ 'forum.submit_date' | i18next }]}{[{current_forum.create_date}]}
                                            </p>

                                            <p ng-if="!current_forum.closed" class="btn btn-primary cursor fl"
                                               href="javascript:void(0);" ng-click="close_forum(current_forum)">
                                                <i class="fa fa-remove"></i>{[{ 'forum.close_forum' | i18next }]}
                                            </p>

                                            <p ng-if="current_forum.status" class="prompt_news bg_5">
                                                {[{ 'forum.closed_forum' | i18next }]}
                                            </p>
                                        </div>
                                        <div class="clear"></div>
                                        <p style="word-wrap: break-word; word-break: break-all;">
                                            {[{current_forum.content}]}</p>
                                    </div>
                                    <div ng-repeat="reply in forum_reply_list"
                                         class="alert alert-info no-margin bg_4 margin-top-10 mar_l10 clear">
                                        <p>
                                            {[{reply.reply_content}]}
                                        </p>

                                        <p class="hei_30">
                                            {[{ 'forum.replier' | i18next }]} {[{reply.username}]}

                                            {[{ 'forum.reply_date' | i18next }]} {[{reply.create_date}]}
                                        </p>
                                    </div>
                                    <div ng-if="!current_forum.closed">
                                        <div class="bg_4 margin-top-10 clear">
                                            <textarea class="form-control" rows="3" maxlength="255"
                                                      ng-model="reply_content">

                                            </textarea>
                                        </div>
                                        <div class="margin-top-10">
                                            <a id="reply_a" class="btn yellow" href="javascript:void(0);"
                                               ng-click="reply(current_forum, reply_content)"
                                               ng-class="{'disabled':reply_content==''}">
                                                {[{ 'forum.reply' | i18next }]}<i
                                                    class="fa pad_l5 fa-plus-square-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END FORUM  -->
    </div>
</div>

