<div>
    <div class="col-md-12">
        <div class="portlet">
            <form id="workflowForm">
                <div class="portlet-body">
                    <div id="" class="dataTables_wrapper no-footer">
                        <table class="table table-striped table-advance table-hover table-bordered"
                            style="width: 680px;">
                            <tr>
                                <td>{[{ 'workflow.step_name' | i18next }]}</td>
                                <td>{[{ 'workflow.auditor' | i18next }]}</td>
                                <td></td>
                            </tr>
                            <tr data-ng-repeat="step in workflow.steps">
                                <td  style="width: 200px;" class="form-group">
                                    <input name="step_name-{[{$index}]}" style="width: 100%;"
                                       class="form-control input-medium required"
                                       data-ng-model="step.name"
                                       data-rule-required="true"
                                       data-rule-minlength="2"
                                       data-rule-maxlength="25">
                                </td>
                                <td  style="width: 200px;" class="form-group">
                                    <select name="auditor_{[{ $index }]}"
                                            class="form-control input-medium required"
                                            data-ng-model="step.auditor"
                                            data-ng-options="user.id as user.username for user in users"
                                            data-rule-required="true"
                                            data-rule-uniqueauditor="true">
                                        <option value="">{[{ 'workflow.select_auditor' | i18next }]}</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-icon-only btn-default" href="#"
                                           data-ng-show="$first == false"
                                           data-ng-click="up($index)">
                                            <i class="fa fa-arrow-up"></i>
                                        </a>
                                        <a class="btn btn-icon-only btn-default" href="#"
                                            data-ng-click="down($index)"
                                            data-ng-show="$last == false">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                        <a class="btn btn-icon-only btn-default" href="#"
                                           data-ng-click="insertAfter(step)">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn btn-icon-only btn-default" href="#"
                                           data-ng-show="workflow.steps.length > 1"
                                           data-ng-click="removeStep(step)">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <a class="btn btn-primary pull-right" href="#"
                                       data-ng-click="submit()">
                                        {[{ 'action.submit' | i18next }]}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
