<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <a class="btn btn-icon-only btn-default" href="#" ng-click="load()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="feeds" style="margin-left: 20px;">
            <li data-ng-repeat="notification in notifications">
                <div class="row">
                    <a href="" data-ng-click="collapse(notification)">
                        <div class="col1" style="width: 98%">
                            <div class="cont">
                                <div class="cont-col1">
                                    <span class="label label-sm label-icon label-info"
                                            data-ng-if="notification.is_info">
                                        <i class="fa fa-info"></i>
                                    </span>
                                    <span class="label label-sm label-icon label-success"
                                          data-ng-if="notification.is_success">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="label label-sm label-icon label-default"
                                          data-ng-if="notification.is_error">
                                        <i class="fa fa-frown-o"></i>
                                    </span>
                                    <span class="label label-sm label-icon label-warning"
                                          data-ng-if="notification.is_warning">
                                        <i class="fa fa-exclamation-triangle "></i>
                                    </span>
                                    <span class="label label-sm label-icon label-danger"
                                          data-ng-if="notification.is_danger">
                                        <i class="fa fa-bolt"></i>
                                    </span>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> {[{ notification.title }]} </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="col2">
                        <div class="date" style="width: 110px; margin-left: -50px;">
                            {[{ notification.time_ago }]}
                        </div>
                    </div>
                    <a href="javascript: void(0)" data-ng-click="delete(notification)"><i class="fa fa-trash"></i></a>
                </div>
                <div class="row" style="margin-top: 1em;"  data-ng-show="notification.isCollapsed">
                    <pre style="width: 100%;"> {[{ notification.content }]} </pre>
                    <p style="text-align: right;"> {[{ notification.create_date }]} </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- BEGIN TEMPLATE DETAIL -->
<script type="text/ng-template" id="detail.html">
    <div class="modal-header">
       <div class="modal-title"> {[{ notification.title }]}</div>
    </div>
    <div class="modal-body">
        <pre style="width: 100%; word-wrap: break-word;"> {[{ notification.content }]} </pre>
        <p style="text-align: right;"> {[{ notification.create_date }]} </p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="close()">
            {[{ 'close' | i18next }]}
        </a>
    </div>
</script>
<!-- END TEMPLATE DETAIL -->

