<div>
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <a class="btn btn-icon-only btn-default" href="#" ng-click="user_table.reload();">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a class="btn btn-info" href="#" ng-click="openBroadcastModal()">
                        <i class="fa  fa-bullhorn"></i> {[{ 'notification.broadcast' | i18next }]}
                    </a>
                    <a class="btn btn-info" href="javascript:void(0)"
                       data-ng-click="openDataCenterBroadcastModal();">
                        <i class="fa  fa-bullhorn"></i> {[{ 'notification.data_center_broadcast' | i18next }]}
                    </a>
                    <a class="btn btn-info" href="javascript:void(0)"
                       data-ng-click="openAnnounceModal();">
                        <i class="fa  fa-bullhorn"></i> {[{ 'notification.announce' | i18next }]}
                    </a>
                </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="" class="dataTables_wrapper no-footer">
                    <table ng-table="user_table"
                           class="table table-striped table-bordered table-advance table-hover">
                        <tbody>
                            <tr ng-repeat="user in $data">
                                <td width="30" header="'checkbox-header.html'">
                                    <input type="checkbox" data-ng-model="user.checked"/>
                                </td>
                                <td data-title="'user.name' | i18next">
                                    <span> {[{ user.username }]} </span>
                                </td>
                                <td data-title="'user.is_active' | i18next">
                                    <span ng-if="user.is_active">{[{ 'user.yes' | i18next }]}</span>
                                    <span ng-if="!user.is_active">{[{ 'user.no' | i18next }]}</span>
                                </td>
                                <td data-title="'user.is_initialized' | i18next">
                                    <span ng-if="user.has_udc">{[{ 'user.yes' | i18next }]}</span>
                                    <span ng-if="!user.has_udc">{[{ 'user.no' | i18next }]}</span>
                                </td>
                                <td data-title="'user.date_joined' | i18next">
                                    <span> {[{ user.date_joined }]} </span>
                                </td>
                                <td data-title="'user.last_login' | i18next">
                                    <span> {[{ user.last_login }]} </span>
                                </td>
                                <td data-title="'actions' | i18next">
                                    <div class="btn-group" data-ng-if="user.has_udc">
                                        <button class="btn btn-default" data-ng-if="user.is_active"
                                                type="button" data-ng-click="deactivate(user)">
                                            <i class="fa fa-lock"></i> {[{ 'user.deactivate' | i18next }]}
                                        </button>
                                        <button class="btn btn-default" data-ng-if="!user.is_active"
                                                type="button" data-ng-click="activate(user)">
                                            <i class="fa fa-unlock"></i> {[{ 'user.activate' | i18next }]}
                                        </button>
                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                                type="button" aria-expanded="false">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:void(0)" data-ng-click="viewUdcList(user);">
                                                    <i class="fa fa-list"></i> {[{ 'user.user_data_centers' | i18next }]}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-ng-click="openNotifyModal(user);">
                                                    <i class="fa  fa-bullhorn"></i> {[{ 'notification.notify' | i18next }]}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group" data-ng-if="!user.has_udc">
                                        <button class="btn btn-default" type="button" data-ng-click="initialize(user)">
                                            <i class="fa fa-magic"></i> {[{ 'user.initialize' | i18next }]}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


<!-- BEGIN TEMPLATE DETAIL -->
<script type="text/ng-template" id="udc_list.html">
    <div class="modal-header">
       <div class="modal-title"> {[{ 'user.user_data_centers' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <table ng-table="udc_table"
               class="table table-striped table-bordered table-advance table-hover">
            <tbody>
                <tr ng-repeat="udc in $data">
                    <td data-title="'udc.data_center' | i18next">
                        <span> {[{ udc.data_center.name }]} </span>
                    </td>
                    <td data-title="'udc.tenant' | i18next">
                        <span> {[{ udc.tenant_name }]} </span>
                    </td>
                    <td data-title="'udc.tenant_uuid' | i18next">
                        <span> {[{ udc.tenant_uuid }]} </span>
                    </td>
                    <td data-title="'udc.keystone_user' | i18next">
                        <span> {[{ udc.keystone_user}]} </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
    </div>
</script>
<!-- END TEMPLATE DETAIL-->

<!-- BEGIN TEMPLATE BROADCAST -->
<script type="text/ng-template" id="broadcast.html">
    <div class="modal-header">
       <div class="modal-title"> {[{ 'notification.notify' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="notificationForm" role="form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="users">
                    {[{ 'notification.receivers' | i18next }]}
                </label>
                <div class="col-md-9">
                    <ul data-ng-if="users.length > 0" class="list-inline" style="margin-top: 8px;">
                        <li class="static-info" data-ng-repeat="user in users">{[{ user.username }]}</li>
                    </ul>
                    <p data-ng-if="users.length == 0" style="margin-top: 8px;">{[{ 'notification.all_users' | i18next }]}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="level">
                    {[{ 'notification.level' | i18next }]}
                </label>
                <div class="col-md-5">
                    <select id="level" name="level" data-ng-model="notification.level"
                            class="form-control input-medium"
                            data-ng-options="option.key as option.label for option in options">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{ 'notification.title' | i18next }]}
                </label>
                <div class="col-md-5">
                    <input id="title" name="title"
                        data-ng-model="notification.title"
                        class="form-control input-medium"
                        data-rule-required="true"
                        data-rule-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="content">
                    {[{ 'notification.content' | i18next }]}
                </label>
                <div class="col-md-5">
                    <textarea id="content" name="content" rows="5" class="form-control"
                          data-rule-required="true"
                          data-ng-model="notification.content" >
                    </textarea>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="broadcast(notification)">
            {[{ 'submit' | i18next }]}
        </a>
    </div>
</script>
<!-- END TEMPLATE BROADCAST -->

<!-- BEGIN TEMPLATE BROADCAST -->
<script type="text/ng-template" id="data_center_broadcast.html">
    <div class="modal-header">
       <div class="modal-title"> {[{ 'notification.data_center_broadcast' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="notificationForm" role="form" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="data_center">
                    {[{ 'notification.data_center' | i18next }]}
                </label>
                <div class="col-md-9">
                    <select id="data_center" name="data_center"
                            class="form-control input-medium"
                            data-ng-model="notification.data_center"
                            data-ng-options="dc.id as dc.name for dc in data_centers"
                            data-rule-required="true">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="level">
                    {[{ 'notification.level' | i18next }]}
                </label>
                <div class="col-md-5">
                    <select id="level" name="kind"
                            class="form-control input-medium"
                            data-ng-model="notification.level"
                            data-ng-options="option.key as option.label for option in options"
                            data-rule-required="true">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">
                    {[{ 'notification.title' | i18next }]}
                </label>
                <div class="col-md-5">
                    <input id="title" name="title"
                        class="form-control input-medium"
                        data-ng-model="notification.title"
                        data-rule-required="true"
                        data-rule-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="content">
                    {[{ 'notification.content' | i18next }]}
                </label>
                <div class="col-md-5">
                    <textarea id="content" name="content" rows="5" class="form-control"
                          data-rule-required="true"
                          data-ng-model="notification.content" >
                    </textarea>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="broadcast(notification)">
            {[{ 'submit' | i18next }]}
        </a>
    </div>
</script>
<!-- END TEMPLATE BROADCAST -->


<!-- BEGIN TEMPLATE BROADCAST -->
<script type="text/ng-template" id="announce.html">
    <div class="modal-header">
       <div class="modal-title"> {[{ 'notification.announce' | i18next }]}</div>
    </div>
    <div class="modal-body">
        <form id="notificationForm" role="form" class="form-horizontal form-bordered">
            <div class="form-group">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="level">
                        {[{ 'notification.level' | i18next }]}
                    </label>
                    <div class="col-md-5">
                        <select id="level" name="kind"
                                class="form-control input-medium"
                                data-ng-model="notification.level"
                                data-ng-options="option.key as option.label for option in options"
                                data-rule-required="true">
                        </select>
                    </div>
                </div>
                <label class="col-md-3 control-label" for="title">
                    {[{ 'notification.title' | i18next }]}
                </label>
                <div class="col-md-5">
                    <input id="title" name="title"
                        data-ng-model="notification.title"
                        class="form-control input-medium"
                        data-rule-required="true"
                        data-rule-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="content">
                    {[{ 'notification.content' | i18next }]}
                </label>
                <div class="col-md-5">
                    <textarea id="content" name="content" rows="5" class="form-control"
                          data-rule-required="true"
                          data-ng-model="notification.content" >
                    </textarea>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
            {[{ 'cancel' | i18next }]}
        </a>
        <a class="btn btn-primary" data-ng-click="announce(notification)">
            {[{ 'submit' | i18next }]}
        </a>
    </div>
</script>
<!-- END TEMPLATE BROADCAST -->

<script type="text/ng-template" id="checkbox-header.html">
    <input type="checkbox"  data-ng-model="checkboxGroup.checked" data-ng-change="checkboxGroup.toggleAll()"/>
</script>
