<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="heading">
            <h3 class="uppercase">{[{ 'sidebar.cloud_management' | i18next }]}</h3>
        </li>
                
        <li id="overview" class="start active open">
            <a href="#/overview/">
                <i class="fa fa-tachometer"></i>
                <span class="title">
                    {[{ 'sidebar.overview' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li id="sddc">
            <a href="#/data-center/">
                <i class="fa fa-building"></i>
                <span class="title">
                    {[{ 'sidebar.data_center' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li id="contract">
            <a href="#/contract/">
                <i class="fa fa-file-word-o"></i>
                <span class="title">
                    {[{ 'sidebar.contract' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li id="flavor">
            <a href="#/flavor/">
                <i class="fa fa-adjust"></i>
                <span class="title">
                    {[{ 'sidebar.flavor' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li id="image">
            <a href="#/image/">
                <i class="fa fa-circle-o-notch"></i>
                <span class="title">
                    {[{ 'sidebar.image' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li id="op_log">
            <a href="#/operation/">
                <i class="fa fa-pencil-square-o"></i>
                <span class="title">
                    {[{ 'sidebar.op_log' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li class="heading">
            <h3 class="uppercase">
                {[{ 'sidebar.market_management' | i18next }]}
            </h3>
        </li>
        <li id="support">
            <a href="#/support/">
                <i class="fa fa-file-text-o"></i>
                <span class="title">
                    {[{ 'sidebar.support' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li>
            <a href="#/users/">
                <i class="fa fa-users"></i>
                <span class="title">
                    {[{ 'sidebar.user' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li>
            <a href="#/notifications/">
                <i class="fa fa-bullhorn"></i>
                <span class="title">
                    {[{ 'sidebar.notifications' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
        <li class="heading" data-ng-if-start="site_config.WORKFLOW_ENABLED">
            <h3 class="uppercase">
                {[{ 'sidebar.workflow_management' | i18next }]}
            </h3>
        </li>
        <li data-ng-if-end>
            <a href="#/workflow/">
                <i class="fa fa-desktop"></i>
                <span class="title">
                    {[{ 'sidebar.workflow_definition' | i18next }]}
                </span>
            <span class="selected"></span></a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>	
