{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
<title>{{ BRAND}} | Find Password </title>
{% endblock %}

{% block page_content %}
{% include "partial_forget_password_form.html" %}
{% endblock %}

{% block page_script %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        Login.init();
    });

    // init background slide images
    $.backstretch([
                "{{ STATIC_URL }}assets/admin/pages/media/bg/2.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
    );
</script>
{% endblock %}

