{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
<title>{{ BRAND }} | Login </title>
{% endblock %}

{% block page_content %}
{% include "partial_login_form.html" %}
    <form class="login-form" action="/login/" method="post">
    {% trans "Account" as account %}
    {% trans "Password" as pwd %}
    {% csrf_token %}
    <h3 class="form-title">{% trans "Login" %}</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success"> {{ message }} </div>
        {% endfor %}
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
    {% else %}
    <div class="alert alert-danger display-hide">
    {% endif %}
        <button class="close" data-close="alert"></button>
        <span id="errorMsg">{% trans "The password you entered is incorrect. Please try again (make sure your caps lock is off)."%}</span>
    </div>

    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">{% trans "Username" %}</label>
        <input name="username" value="{{ form.username.value }}" placeholder="{{ account }}"
               class="form-control form-control-solid placeholder-no-fix" autocomplete="off" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{% trans "Password" %}</label>
        <input name="password" placeholder="{{ pwd }}"
               class="form-control form-control-solid placeholder-no-fix"
               type="password" autocomplete="off" />
    </div>
    {% if LDAP_AUTH_ENABLED %}
    <div class="form-group">
        <label class="control-label">{% trans "Login Via LDAP" %}</label>
    </div>
    {% endif %}

    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase"><i class="fa fa-key"></i> {% trans "Login" %}</button>
    </div>
    {%  comment %}

     <a href="/find-password/" class="forget-password">{% trans 'Forgot Password' %}</a>
     <div class="create-account">
         <p> <a href="/signup/" class="uppercase">{% trans "Create an account" %}</a> </p>
     </div>
    {% endcomment %}
</form>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        Login.init();
    });

    // init background slide images
    $.backstretch([
                "{{ STATIC_URL }}assets/admin/pages/media/bg/2.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
    );
</script>

<script id="loginError" type="text/msg">
{% trans "Enter any username and password." %}
</script>
{% endblock %}

