{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
<title> {{ BRAND }} | Signup </title>
{% endblock %}

{% block page_content %}

<h3 class="form-title">{% trans "Signup Success" %}</h3>
<div class="create-account">
    <p>
        <a href="/login/" class="uppercase">{% trans "Login" %}</a>
    </p>
</div>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
    // init background slide images
    $.backstretch([
                "{{ STATIC_URL }}assets/admin/pages/media/bg/2.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
    );
</script>
{% endblock %}

